*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  background: 0;
}

main {
  overflow: hidden;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-ExtraLight.ttf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-Black.ttf);
  font-weight: 900;
  font-style: normal;
}

/* heaeder */

.header {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 9999;
}

/* Навигация: header & footer */

.navigation {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
}

.navigation_footer {
  box-shadow: none;
}

.navigation__lines-container {
  width: 100%;
  display: flex;
}

.navigation__line {
  width: 100%;
  height: 2px;
}

.navigation__line:nth-child(1n) {
  background: #4F43A7;
}

.navigation__line:nth-child(2n) {
  background: #F38252;
}

.navigation__line:nth-child(3n) {
  background: #4C848A;
}

.navigation__container {
  display: flex;
  align-items: center;
  max-width: 1360px;
  height: 98px;
  margin: 0 auto;
}

.navigation__content-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navigation__logo-picture {
  display: flex;
  align-items: center;
}

.navigation__license {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 145%;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #838383;
  margin: 0;
}

.navigation__links-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigation__link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4F43A7;
  transition: all 0.4s ease-in-out;
  height: 100%;
}

.navigation__link:hover {
  color: #5A4AD2;
}

.navigation__link:active {
  color: #32287C;
}

.navigation__callback-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navigation__phone-number-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2px;
  text-decoration: none;
}

.navigation__phone-number {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #223D4E;
  margin: 0;
}

.navigation__callback-text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.01em;
  color: #4F43A7;
  border-bottom: 1px dashed #4F43A7;
  transition: all 0.4s ease-in-out;
}

.navigation__phone-number-container:hover .navigation__callback-text {
  border-bottom: 1px dashed transparent;
}

.navigation__order-button {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  text-decoration: none;
  width: 200px;
  height: 57px;
  background: #4F43A7;
  box-shadow: 0px 4px 10px rgba(99, 151, 248, 0.3);
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
}

.navigation__order-button:hover {
  background: #5A4AD2;
}

.navigation__order-button:active {
  background: #32287C;
}

@media screen and (max-width: 1400px) {
  .navigation__container {
    max-width: 95%;
  }
}

@media screen and (max-width: 1200px) {
  .navigation__links-container {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .navigation__container {
    max-width: 100%;
    margin-left: 17px;
    margin-right: 17px;
    height: 68px;
  }

  .navigation__phone-number {
    font-size: 18px;
    line-height: 21px;
  }

  .navigation__callback-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }

  .navigation__order-button {
    display: none;
  }

  .navigation__lines-container_footer {
    display: none;
  }

  .navigation__container_footer {
    height: auto;
  }

  .navigation__content-container_footer {
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  .navigation__callback-container_footer {
    display: none;
  }

  .navigation__license {
    font-size: 12px;
    line-height: 155%;
  }
}

/* medicine */

.medicine {
  display: flex;
  justify-content: center;
  background: #EDF3FE;
  position: relative;
  min-height: 660px;
}

.medicine::after {
  content: '';
  position: absolute;
  width: 403.35px;
  height: 416.95px;
  left: -190px;
  top: 100px;
  background: rgba(124, 153, 255, 0.35);
  filter: blur(150px);
  transform: matrix(-0.06, 1, -1, -0.06, 0, 0);
  border-radius: 50%;
}

.medicine::before {
  content: '';
  position: absolute;
  width: 403.35px;
  height: 416.95px;
  right: -190px;
  top: 100px;
  background: rgba(124, 153, 255, 0.27);
  filter: blur(150px);
  transform: matrix(-0.06, 1, -1, -0.06, 0, 0);
  z-index: 2;
}

.medicine__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.medicine__content-container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding-left: 150px;
}

.medicine__title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  line-height: 73px;
  color: #223D4E;
  margin: 0;
}

.medicine__subtitle {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 145%;
  letter-spacing: -0.01em;
  color: #223D4E;
  margin: 10px 0 0;
  max-width: 530px;
}

.medicine__subtitle-span {
  font-weight: 700;
  color: #4F43A7;
}

.medicine__list {
  display: flex;
  flex-direction: column;
  gap: 23px;
  list-style-type: none;
  margin-top: 25px;
  padding: 0;
}

.medicine__list-item {
  align-items: baseline;
  display: flex;
  gap: 10px;
}

.medicine__list-item-check {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F38252;
  border-radius: 50%;
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
}

.medicine__list-item-text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 155.5%;
  letter-spacing: -0.01em;
  color: #223D4E;
  margin: 0;
  max-width: 540px;
}

.medicine__list-item-text-span {
  font-weight: 700;
}

.medicine__price-container {
  position: relative;
  margin-top: 35px;
}

.medicine__price {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #223D4E;
  margin: 0;
}

.medicine__price-span {
  font-size: 55px;
  line-height: 65px;
  color: #4F43A7;
}

.medicine__price-stock {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #52B39D;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -20px;
  left: 45%;
  gap: 8px;
  width: 155px;
  height: 29px;
  background: #FFFFFF;
  border-radius: 15px 15px 15px 2px;
}

.medicine__price-stock-span {
  background: #52B39D;
  border: 3px solid rgba(82, 179, 157, 0.3);
  border-radius: 555px;
  width: 4px;
  height: 4px;
}

.medicine__buttons-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 25px;
}

.medicine__button-choose {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 65px;
  background: #4F43A7;
  box-shadow: 0px 4px 10px rgba(99, 151, 248, 0.3);
  border-radius: 50px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

.medicine__button-choose:hover {
  background: #5A4AD2;
}

.medicine__button-choose_hidden {
  display: none;
}

.medicine__button-number {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 162px;
  height: 55px;
  border-radius: 195px;
  background-color: #fff;
  text-align: center;
}

.medicine__button-number_visible {
  display: flex;
}

.medicine__number-input {
  width: 115px;
  height: 55px;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #CFDBE9;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translateX(-22px);
}

.medicine__number-input::-webkit-outer-spin-button,
.medicine__number-input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.medicine__number-button {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 55px;
  min-height: 55px;
  max-width: 55px;
  max-height: 55px;
  background: #4F43A7;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: all 0.4s ease-in-out;
}

.medicine__number-button:hover {
  background: #5A4AD2;
}

.medicine__number-button:active {
  background: #32287C;
}

.medicine__number-button:first-of-type {
  border-radius: 650px 195px 195px 650px;
}

.medicine__number-button:last-of-type {
  border-radius: 195px 650px 650px 195px;
  transform: translateX(-44px);
}

.medicine__button-callback {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 245px;
  height: 65px;
  background: #F38252;
  box-shadow: 0px 4px 10px rgba(99, 151, 248, 0.3);
  border-radius: 50px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

.medicine__button-callback:hover {
  background: #FF6E30;
}

.medicine__button-callback:active {
  background: #CF5521;
}

.medicine__image-main-container_mobile {
  display: none;
}

.medicine__image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.medicine__image-manufacturer-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  max-width: 250px;
  right: 45%;
  bottom: 15%;
}

.medicine__image-country {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #223D4E;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(1.88406px);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 15px;
}

.medicine__image-factory {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 245.72px;
  height: 65px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(1.88406px);
  border-radius: 282.609px;
}

@media screen and (max-width: 1500px) {
  .medicine__container {
    max-width: 95%;
  }

  .medicine__content-container {
    padding-left: 0;
  }

  .medicine__image {
    width: 100%;
  }

  .medicine__image-manufacturer-container {
    right: 40%;
  }
}

@media screen and (max-width: 1200px) {
  .medicine {
    overflow: hidden;
  }

  .medicine__image {
    width: auto;
  }

  .medicine__image-manufacturer-container {
    right: inherit;
    left: 10%;
  }
}

@media screen and (max-width: 900px) {
  .medicine {
    overflow: visible;
  }

  .medicine::after {
    display: none;
  }

  .medicine::before {
    display: none;
  }

  .medicine__content-container {
    padding-top: 15px;
    overflow: hidden;
  }

  .medicine__container {
    max-width: none;
  }

  .medicine__content-container {
    align-items: center;
    text-align: center;
  }

  .medicine__image-main-container {
    display: none;
  }

  .medicine__image-main-container_mobile {
    display: block;
  }

  .medicine__image {
    position: relative;
    right: -10%;
    width: 100%;
  }

  .medicine__image-manufacturer-container {
    flex-direction: row;
    gap: 5px;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
  }

  /*
  .medicine__image-country {
    min-width: 108px;
    max-width: 108px;
    min-height: 47px;
    max-height: 47px;
  }
  */

  .medicine__image-factory {
    min-width: 178px;
    max-width: 178px;
    min-height: 47px;
    max-height: 47px;
  }

  .medicine__image-factory img {
    width: 140px;
  }

  .medicine__list {
    margin-top: 15px;
  }

  .medicine__list-item {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .medicine__price-container {
    margin-top: 54px;
  }

  .medicine__price-stock {
    top: -60%;
    left: 50%;
    transform: translateX(-50%);
  }

  .medicine__buttons-container {
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
  }

  .medicine__button-callback {
    width: 326px;
  }

  .medicine__button-number {
    display: flex !important;
  }
}

@media screen and (max-width: 600px) {
  .medicine__title {
    font-size: 38px;
    line-height: 45px;
  }

  .medicine__subtitle {
    font-size: 20px;
    line-height: 145%;
  }

  .medicine__list {
    padding: 0 20px;
  }

  .medicine__list-item-text {
    font-size: 16px;
    line-height: 155.5%;
  }

  .medicine__image-manufacturer-container {
    bottom: 5px;
  }
}

/* options */

.options {
  background: linear-gradient(180deg, #EAF1FE 0%, #F4F8FF 100%);
  border-radius: 0px 0px 50px 50px;
  padding-bottom: 116px;
}

.options__container {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 0px 0px 50px 50px;
  background: transparent;
}

.options__tabs-container {
  width: 100%;
  max-width: 1360px;
  background: #fff;
  border-radius: 25px;
}

.options__tabs {
  display: flex;
  background: linear-gradient(to bottom, #EBF2FF, #fff);
  width: 100%;
  border-radius: 1rem 0;
}

.options__tab {
  width: 100%;
  height: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EBF2FF;
  cursor: pointer;
  border-radius: 25px 25px 0 0;
}

.options__tab:first-of-type {
  background: #EBF2FF;
  border-radius: 25px 25px 25px 0;
}

.options__tabs .options__content-container-1 {
  background: #fff !important;
  border-radius: 25px 25px 0 0 !important;
}

.options__tabs .options__content-container-2 {
  background: #fff !important;
  border-radius: 25px 25px 0 0 !important;
}

.options__tab:last-of-type {
  background: #EBF2FF;
  border-radius: 0 25px 0 25px;
}

.options__tab_active {
  background: #fff;
}

.options__tab_active .options__tab-title {
  color: #223D4E;
  border-bottom: 1px dashed #223D4E;
}

.options__tab-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #4F43A7;
  border-bottom: 1px dashed #4F43A7;
  margin: 0;
  transition: all 0.4s ease-in-out;
}

.options__tab-title_active {
  color: #223D4E;
  border-bottom: 1px dashed #223D4E;
}

.options__tab-title:hover {
  border-bottom: 1px dashed transparent;
}

.options__content-container {
  padding: 40px 115px 90px;
  width: 100%;
  border-radius: 0 0 25px 25px;
  display: none;
}

/*
.options__content-container .options__content-container-1 > .options__content-container_active {
  border-top-right-radius: 25px;
}

.options__content-container .options__content-container-2 .options__content-container_active {
  border-top-left-radius: 25px;
}
*/

.options__content-container_active {
  display: block;
}

.options__content-item:not(:first-of-type) {
  margin-top: 60px;
}

.options__content-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: -0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #223D4E;
  margin: 0;
}

.options__content-text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  letter-spacing: -0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #223D4E;
  margin: 15px 0 0;
}

.options__content-text_mt {
  margin-top: 30px;
}

.options__content-link {
  color: #4F43A7;
}

.options__content-link:hover {
  text-decoration: none;
}

.options__content-span {
  font-weight: 600;
}

.options__content-options-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
  margin-top: 15px;
}

.options__content-option {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.options__content-option-title-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.options__content-option-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 175%;
  letter-spacing: -0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #838383;
  white-space: nowrap;
}

.options__content-dots {
  width: 100%;
  border-bottom: 1px dashed #BFBFBF;
  transform: translateY(20.5px);
}

.options__content-option-subtitle {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 175%;
  letter-spacing: -0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #223D4E;
  width: 100%;
  max-width: 45%;
  text-align: left;
}

.options__content-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
  padding-left: 15px;
}

.options__content-list_mt {
  margin-top: 30px;
}

.options__content-list_purple .options__content-list-item::marker {
  color: #4F43A7;
}

.options__content-list_orange .options__content-list-item::marker {
  color: #F38252;
}

.options__content-list-item {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #223D4E;
  margin: 0;
}

.options__content-link-up {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  text-decoration: none;
  margin-top: 40px;
}

.options__content-link-up-span {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #4F43A7;
  border-bottom: 1px dashed #4F43A7;
  transition: all 0.4s ease-in-out;
}

.options__content-link-up:hover .options__content-link-up-span {
  border-bottom: 1px dashed transparent;
}

.options__accordion {
  display: none;
  width: 100%;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 25px;
}

.options__accordion-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  border-radius: 10px;
  width: 100%;
}

.options__accordion-container-span {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #4F43A7;
  border-bottom: 1px dashed #4F43A7;
}

.options__accordion-arrow {
  transition: all 0.4s ease-in-out;
}

.options__accordion-arrow_active {
  transform: rotate(90deg);
}

.options__accordion-arrow-path {
  transition: all 0.4s ease-in-out;
}

.options__accordion-arrow-path_active {
  stroke: #223D4E;
}

.options__accordion-container-span_active {
  color: #223D4E;
  border-bottom: 1px dashed #223D4E;
}

@media screen and (max-width: 1400px) {
  .options__container {
    padding: 0 20px;
  }

  .options__content-container {
    padding: 40px 40px 90px;
  }
}

@media screen and (max-width: 1000px) {
  .options {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 10px 10px;
    border-radius: 0px 0px 15px 15px;
  }

  .options__tabs-container {
    display: none;
  }

  .options__accordion {
    display: block;
  }

  .options__content-container_accordion {
    display: block;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
  }

  .options__content-title {
    font-size: 22px;
    line-height: 26px;
  }

  .options__content-text {
    font-size: 16px;
    line-height: 175%;
    margin-top: 20px;
  }

  .options__content-options-container {
    gap: 20px;
  }

  .options__content-option {
    gap: 8px;
    flex-direction: column;
  }

  .options__content-dots {
    display: none;
  }

  .options__content-option-title {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }

  .options__content-option-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }

  .options__content-list {
    gap: 20px;
  }

  .options__content-list-item {
    font-size: 16px;
    line-height: 165%;
  }

  .options__content-link-up {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}

/* delivery */

.delivery {
  background: #FAFAFA;
}

.delivery__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 0 0 25px 25px;
  padding: 115px 0;
}

.delivery__card {
  position: relative;
  overflow: hidden;
  max-width: 1360px;
  width: 100%;
  background: #F7FAFF;
  border-radius: 25px;
  padding: 60px 66px;
}

.delivery__card::after {
  position: absolute;
  content: '';
  width: 302.67px;
  height: 312.53px;
  right: -150px;
  top: -120px;
  filter: blur(150px);
  transform: matrix(-0.12, 0.99, -1.01, -0.03, 0, 0);
  z-index: 0;
}

.delivery__card_purple::after {
  background: rgba(124, 153, 255, 0.5);
}

.delivery__card_orange::after {
  background: rgba(243, 130, 82, 0.5);
}

.delivery__card:not(:first-of-type) {
  margin-top: 30px;
}

.delivery__card-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 555px 140px 555px 555px;
  width: 80px;
  height: 80px;
  right: 10px;
  top: 10px;
  z-index: 10;
}

.delivery__card-icon_purple {
  background: #4F43A7;
}

.delivery__card-icon_orange {
  background: #F38252;
}

.delivery__card-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #223D4E;
  margin: 0;
}

.delivery__card-subtitle {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #223D4E;
  margin: 20px 0 0;
}

.delivery__card-text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  letter-spacing: -0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #223D4E;
  position: relative;
  z-index: 2;
  margin: 15px 0 0;
}

.delivery__card-link {
  color: #4F43A7;
}

.delivery__card-link:hover {
  text-decoration: none;
}

.delivery__card-span {
  font-weight: 600;
}

.delivery__card-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 18px;
  margin: 30px 0 0;
}

.delivery__card-list-item {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #223D4E;
}

.delivery__card-list-item::marker {
  color: #4F43A7;
}

@media screen and (max-width: 1400px) {
  .delivery__card {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .delivery__container {
    padding: 10px;
  }

  .delivery__card-icon {
    width: 45px;
    height: 45px;
  }

  .delivery__card-icon-image {
    width: 40%;
  }

  .delivery__card {
    width: 100%;
    padding: 30px;
  }

  .delivery__card::after {
    width: 219.85px;
    height: 199.81px;
    transform: matrix(-0.06, 1, -1, -0.06, 0, 0);
  }

  .delivery__card:not(:first-of-type) {
    margin-top: 10px;
  }

  .delivery__card-title {
    font-size: 28px;
    line-height: 33px;
  }

  .delivery__card-subtitle {
    display: none;
  }

  .delivery__card-list {
    display: none;
  }

  .delivery__card-text {
    font-size: 16px;
    line-height: 175%;
    margin-top: 10px;
  }
}

/* about-us */

.about-us {
  background-color: #FAFAFA;
  padding: 79px 0 124px;
}

.about-us__container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
}

.about-us__title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #223D4E;
  text-align: left;
  margin: 0;
}

.about-us__subtitle {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  letter-spacing: -0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #223D4E;
  max-width: 660px;
  margin: 15px 0 0;
}

.about-us__link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #4F43A7;
  margin-top: 32px;
}

.about-us__link:hover .about-us__link-span {
  border-bottom: 1px dashed transparent;
}

.about-us__link-span {
  border-bottom: 1px dashed;
  transition: all 0.4s ease-in-out;
}

.about-us__image {
  border-radius: 25px;
}

.about-us__image_mobile {
  display: none;
}

@media screen and (max-width: 1400px) {
  .about-us__container {
    align-items: center;
    width: 95%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1000px) {
  .about-us {
    padding-top: 41px;
    padding-bottom: 30px;
  }

  .about-us__container {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  .about-us__title {
    margin: 0 0 10px 35px;
  }

  .about-us__subtitle {
    font-size: 16px;
    line-height: 175%;
    margin: 0 35px 0 35px;
  }

  .about-us__image {
    display: none;
  }

  .about-us__image_mobile {
    border-radius: 25px;
    display: flex;
    width: 100%;
    margin: 20px 0;
  }

  .about-us__link {
    margin: 15px 0 0 35px;
  }
}

/* map */

.map {
  position: relative;
  height: 573px;
  overflow: hidden;
  background: #FAFAFA;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.map__arrow-up {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  text-decoration: none;
  position: absolute;
  z-index: 999;
  width: 57px;
  height: 57px;
  bottom: 34px;
  right: 148px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  background: #4F43A7;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.map__arrow-up:hover {
  background: #5A4AD2;
}

.map__arrow-up:active {
  background: #32287C;
}

@media screen and (max-width: 1000px) {
  .map {
    height: 650px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .map__arrow-up {
    display: none;
  }
}

/* footer */

@media screen and (max-width: 1000px) {
  .footer {
    padding: 20px 0;
  }
}

/* requisites */
.requisites {
  display: flex;
  position: fixed;
  z-index: 99999;
  justify-content: center;
  align-items: flex-start;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(79, 67, 167, .8);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.4s linear;
  overflow: scroll;
  width: 100%;
  height: 100%;
}

.requisites_active {
  visibility: visible;
  opacity: 1;
}

.requisites__container {
  position: relative;
  background: #FFFFFF;
  border-radius: 25px;
  padding: 40px;
  max-width: 1010px;
  width: 100%;
  margin: 65px 0;
}

.requisites__title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #223D4E;
  margin: 0;
}

.requisites__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 30px 0 0;
  padding: 0;
  list-style-type: none;
}

.requisites__list-item {
  display: flex;
  align-items: flex-start;
}

.requisites__list-item-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 175%;
  letter-spacing: -0.01em;
  white-space: nowrap;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #838383;
}

.requisites__list-item-subtitle {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 175%;
  letter-spacing: -0.01em;
  white-space: nowrap;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #223D4E;
  width: 100%;
  text-align: left;
}

.requisites__dots {
  width: 100%;
  border-bottom: 1px dashed #BFBFBF;
  transform: translateY(20.5px);
}

.requisites__list-left-side {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 350px;
}

.requisites__close_mobile {
  display: none;
}

@media screen and (max-width: 1000px) {
  .requisites__container {
    padding-left: 25px;
    padding-right: 0;
    margin: 65px 10px;
  }

  .requisites__title {
    font-size: 28px;
    line-height: 33px;
  }

  .requisites__list {
    margin-top: 15px;
  }

  .requisites__list-item {
    flex-direction: column;
  }

  .requisites__list-item-title {
    font-size: 16px;
    line-height: 19px;
    white-space: normal;
  }

  .requisites__list-item-subtitle {
    font-size: 16px;
    line-height: 19px;
    white-space: normal;
    margin-top: 5px;
  }

  .requisites__dots {
    display: none;
  }

  .requisites__close_mobile {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #4F43A7;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 290px;
    height: 65px;
    background: #EFEDFE;
    border-radius: 50px;
    margin: 15px auto 0;
    text-decoration: none;
  }
}

@media screen and (max-width: 600px) {
  .requisites__close_mobile {
    transform: translateX(-10px);
  }
}

/* callback */

.callback {
  display: flex;
  position: fixed;
  z-index: 99999;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(79, 67, 167, .8);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.4s linear;
  overflow: scroll;
  width: 100%;
  height: 100%;
}

.callback_active {
  visibility: visible;
  opacity: 1;
}

/* order */

.order {
  display: flex;
  position: fixed;
  z-index: 99999;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(79, 67, 167, .8);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.4s linear;
  overflow: scroll;
  width: 100%;
  height: 100%;
}

.order .modal__submit {
  margin-top: 25px;
}

.order_active {
  visibility: visible;
  opacity: 1;
}

.order .modal__input {
  width: 316px;
}

@media screen and (max-width: 750px) {
  .order .modal__form {
    padding-top: 25px;
  }

  .order .modal__form-inputs-container {
    flex-direction: column;
    gap: 20px;
  }

  .order .modal__input {
    width: 100%;
  }
}

/* modal */

.modal__container {
  position: relative;
  background: #fff;
  padding: 45px;
  border-radius: 25px;
}

.modal__title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #223D4E;
  margin: 0;
}

.modal__content-container_hidden {
  display: none;
}

.modal__inputs-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #223D4E;
  margin: 0 0 10px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__line {
  width: 100%;
  height: 2px;
  background-image: url(../img/modal-line.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 25px 0;
}

.modal__form_callback {
  gap: 20px;
  margin-top: 25px;
}

.modal__form-inputs-container {
  display: flex;
  gap: 16px;
}

.modal__input-label {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: flex-end;
  color: #000000;
  margin-bottom: 5px;
}

.modal__input {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #223D4E;
  border: 2px solid #CFDBE9;
  border-radius: 15px;
  width: 100%;
  height: 65px;
  padding-left: 18px;
  transition: all 0.4s ease-in-out;
}

.modal__input-container {
  position: relative;
}

/* name */
.modal__input-name-valid-icon {
  position: absolute;
  right: 18px;
  top: 50%;
  visibility: hidden;
}

.modal__input-name-valid-icon_active {
  visibility: visible;
}

.modal__input-name-no-valid-icon {
  position: absolute;
  right: 18px;
  top: 50%;
  visibility: hidden;
}

.modal__input-name-no-valid-icon_active {
  visibility: visible;
}

.modal__input_valid {
  background: #FAFCFF;
}

.modal__input_no-valid {
  background: #FFF1F3;
  border: 2px solid #CF5521;
}

/* phone */
.modal__input-phone-valid-icon {
  position: absolute;
  right: 18px;
  top: 50%;
  visibility: hidden;
}

.modal__input-phone-valid-icon_active {
  visibility: visible;
}

.modal__input-phone-no-valid-icon {
  position: absolute;
  right: 18px;
  top: 50%;
  visibility: hidden;
}

.modal__input-phone-no-valid-icon_active {
  visibility: visible;
}

.modal__input_valid {
  background: #FAFCFF;
}

.modal__input_no-valid {
  background: #FFF1F3;
  border: 2px solid #CF5521;
}

.modal__input:focus {
  outline: none;
  border: 2px solid #4F43A7;
  filter: drop-shadow(0px 4px 4px rgba(79, 67, 167, 0.15));
}

.modal__input::placeholder {
  color: #929DAB;
}

.modal__input-label-span {
  color: #E88257;
}

.modal__submit {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  width: 100%;
  height: 65px;
  background: #4F43A7;
  box-shadow: 0px 4px 10px rgba(99, 151, 248, 0.3);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  min-width: 290px;
}

.modal__submit:hover {
  background: #5A4AD2;
}

.modal__success-container {
  display: none;
  flex-direction: column;
  align-items: center;
}

.modal__success-container_visible {
  display: flex;
}

.modal__title_success {
  margin-top: 30px;
  text-align: center;
}

.modal__subtitle {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  text-align: center;
  letter-spacing: -0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #223D4E;
  margin: 10px 0 0;
}

.modal__subtitle-span {
  font-weight: 600;
}

.modal__success-close {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #4F43A7;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 65px;
  left: 45px;
  background: #EFEDFE;
  border-radius: 50px;
  text-decoration: none;
  margin: 20px 0 0;
  transition: all 0.4s ease-in-out;
}

.modal__success-close:hover {
  background: #5A4AD2;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  .modal__container {
    padding: 45px 25px;
    margin: 0 10px;
  }

  .modal__title {
    font-size: 28px;
    line-height: 33px;
  }

  .modal__success-container {
    align-items: flex-start;
    text-align: left;
  }

  .modal__subtitle {
    text-align: left;
  }

  .modal__success-image {
    display: none;
  }

  .modal__success-close {
    margin-top: 12px;
  }
}

@media screen and (max-width: 750px) {
  .modal__line {
    display: none;
  }
}

/* order-form */

.order__form {
  margin-top: 25px;
}

.order__form-item-container {
  display: flex;
  gap: 15px;
}

.order__form-item-image {
  width: 145px;
  height: 145px;
}

.order__item-subtitle {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #838383;
  margin: 0;
}

.order__item-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #223D4E;
  margin: 10px 0 0;
}

.order__item-price-container {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
}

.order__item-price-name {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #838383;
  margin: 0 0 5px;
}

.order__item-price-total {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #223D4E;
  margin: 20px 0 0;
}

.order__item-price-total_mobile {
  display: none;
}

.order__item-price-simbol {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #223D4E;
  margin: 39px 20px 0;
}

.order__item-price-simbol_last {
  margin-top: 35px;
  margin-left: 44px;
}

@media screen and (max-width: 750px) {
  .order__form-item-image {
    width: 78px;
    height: 78px;
  }

  .order__item-title {
    font-size: 16px;
    line-height: 145%;
    margin-top: 3px;
  }

  .order__item-price-container {
    width: 100%;
    /*transform: translateX(-93px);*/
    margin-left: -90px;
  }

  .order__item-price-name {
    display: none;
  }

  .order__item-price {
    position: relative;
    left: 50%;
    transform: translateX(-35%);
  }

  .order__item-price:nth-child(1) {
    display: none;
  }

  .order__item-price:nth-child(2) {
    display: none;
  }

  .order__item-price:nth-child(4) {
    display: none;
  }

  .order__item-price:nth-child(5) {
    display: none;
  }

  .medicine__button-number {
    width: 100%;
  }

  .medicine__number-input {
    width: 200px;
  }

  .medicine__number-input {
    transform: translateX(0px);
  }

  .medicine__number-button:first-of-type {
    transform: translateX(5px);
  }

  .medicine__number-button:last-of-type {
    transform: translateX(-5px);
  }

  .order__item-price-total_mobile {
    display: flex;
    justify-content: space-between;
    max-width: 310px;
    margin: 0 0 15px;
  }

  .order__item-price-name_mobile {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.01em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #838383;
    margin: 0;
  }

  .order__item-price_mobile {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.01em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #223D4E;
    margin: 5px 0 0;
  }
}

@media screen and (max-width: 400px) {
  .order {
    padding: 90px 0 10px;
  }
}

/* UI */

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4F43A7;
  border-radius: 444px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.close-button__image {
  pointer-events: none;
}

.close-button:hover {
  background-color: #5A4AD2;
}

.close-button:active {
  background: #32287C;
}

@media screen and (max-width: 1000px) {
  .close-button {
    width: 30px;
    height: 30px;
  }
}

/* loader */

.loader {
  background: rgba(32, 48, 91, 0.7);
  border-radius: 25px;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  right: 0px;
  top: 0;
  z-index: 999;
  pointer-events: none;
  display: none;
}

.loader_active {
  display: flex;
}

.preloader {
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  z-index: 10;
}

.preloader_active {
  display: flex;
}

.preloader__container {
  width: 100px;
  height: 100px;
  position: relative;
}

.preloader__round {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background: #4F43A7;
  border-radius: 50px;
}

.preloader__round::after,
.preloader__round::before {
  content: '';
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
}

.preloader__round::after {
  background: white;
  animation: preloader-inside-white 1s ease-in-out infinite;
}

.preloader__round::before {
  z-index: 10;
  background: #4F43A7;
  animation: preloader-inside-red 1s ease-in-out infinite;
}

@keyframes preloader-inside-white {
  0% {
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
  }

  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes preloader-inside-red {
  0% {
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
  }

  30% {
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
  }

  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}